<ngx-trade-flow></ngx-trade-flow>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <nb-card accent="info" size="medium">
        <nb-card-header>Review and Authorization</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm">
      <nb-card accent="info" size="medium">
        <nb-card-header>Market Summary</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>
