<div class="container">
  <div class="row">
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
              <ng-template #labelOne>Input Data <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelTwo">
              <ng-template #labelTwo>Compliance <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelFour">
              <ng-template #labelFour>P-Run Status <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelFive">
              <ng-template #labelFive>P-Run Review <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelSix">
              <ng-template #labelSix>P-Run Auth <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelSeven">
              <ng-template #labelSeven>F-Run Status <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelEight">
              <ng-template #labelEight>F-Run Review <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelNine">
              <ng-template #labelNine>F-Run Auth <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="label10">
              <ng-template #label10>Bank Recon <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="label11">
              <ng-template #label11>MEUC <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>

          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <nb-card accent="info" size="medium">
        <nb-card-header>Review and Authorization</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm">
      <nb-card accent="info" size="medium">
        <nb-card-header>Market Summary</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>
