<nb-accordion>
  <nb-accordion-item expanded="true">
    <nb-accordion-item-header>
      Market Summary
    </nb-accordion-item-header>
    <nb-accordion-item-body>

      <div class="row">
        <div class="col-sm-8">&nbsp;</div>
        <div class="col-sm-4">
          <div class="btn-toolbar col align-self-end">
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button nbButton ghost status="info"><nb-icon icon="refresh-outline"></nb-icon></button>
              <button nbButton ghost status="info"><nb-icon icon="download-outline"></nb-icon></button>
              <button nbButton ghost status="info"><nb-icon icon="move-outline"></nb-icon></button>
              <button nbButton ghost status="info"><nb-icon icon="info-outline"></nb-icon></button>
              <button nbButton ghost status="info"><nb-icon icon="printer-outline"></nb-icon></button>
            </div>
          </div>
        </div>
      </div>

      Trading Date: 23 Oct 2019 <br>
      Run Type: Final

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Penalty Scheme</th>
          <th scope="col">Net Amount</th>
          <th scope="col">Input GST</th>
          <th scope="col">Output GST</th>
          <th scope="col">Total Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>AFPS</td>
          <td>$0.00</td>
          <td>$0.00</td>
          <td>$0.00</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>DR</td>
          <td>$0.00</td>
          <td>$0.00</td>
          <td>$0.00</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>$0.00</td>
          <td>$0.00</td>
          <td>$0.00</td>
          <td>$0.00</td>
        </tr>
        </tbody>
      </table>

    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Penalty Summary
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      AFPS Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Enhanced AFPS Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      DR Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Enhanced DR Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Penalty Invoice
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Penalty Batch Report
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Log Messages
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
