<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          <nb-stepper orientation="horizontal" disableStepNavigation>
            <nb-step [label]="labelOne" completed="true">
              <ng-template #labelOne>Input Data <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelTwo" completed="true">
              <ng-template #labelTwo>Compliance <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelFour" completed="true">
              <ng-template #labelFour>P-Run Status <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelFive" completed="true">
              <ng-template #labelFive>P-Run Review <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelSix" completed="true">
              <ng-template #labelSix>P-Run Auth <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelSeven" completed="true">
              <ng-template #labelSeven>F-Run Status <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelEight" completed="true">
              <ng-template #labelEight>F-Run Review <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="labelNine" completed="true">
              <ng-template #labelNine>F-Run Auth <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="label10" completed="true">
              <ng-template #label10>Bank Recon <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>
            <nb-step [label]="label11" completed="true">
              <ng-template #label11>MEUC <br> 29 Oct 2019 10:40</ng-template>
            </nb-step>

          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>
